.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardpost {
    background-color: white;
    width: 440px;
    height: 304px;
    padding: 16px;
    margin: 10px;
    border-radius: 6px;
    border: 1px solid grey;
}

.postheader {
    display: flex;
    flex-direction: row;
}

.postheader img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.postheader span{
    display: block;
    margin: 7px;
}

.post {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.post img {
    border-radius: 5px;
    object-fit: cover;
}

.post span {
    display: block;
    margin: 7px;
}

.posttext {
    width: 250px;
}

.tagsbox {
    margin-top: 20px;
    margin-left: 4px;;
    display: flex;
    flex-wrap: wrap;
}

.tags {
    background-color: rgba(219,39,119);
    border-radius: 3px;
    color: white;
    margin: 3px;
    padding: 6px;
    width: auto;
}

.likes {
    margin-top: 15px;
    margin-left: 4px;
}